# InstantForm Frontend Environment Variables
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="q8Jx7K2mP9vL3nR5sT1wY6aB4cD8eF0gH2iJ5kM="
AUTH_SECRET="q8Jx7K2mP9vL3nR5sT1wY6aB4cD8eF0gH2wiJ5kM="
NEXT_PUBLIC_API_URL="http://localhost:5001"

# Google OAuth Credentials (Optional)
AUTH_GOOGLE_ID="926372630998-diqaj02g2epls4sq21pmf89ds5d2thrv.apps.googleusercontent.com"
AUTH_GOOGLE_SECRET="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"

# GitHub OAuth Credentials (Optional)
AUTH_GITHUB_ID=""
AUTH_GITHUB_SECRET=""
